include ../include/page.pug
h2 #{webring.name}
div.content-block
	div.detail-descripion #{webring.description}
	if isUserModerator
		div.controls
			a(href='/webring/' + webring.url + '/add') Add New Site
			a(href='/webring/' + webring.url + '/update') Update Webring
			if isUserOwner
				a(href='/webring/' + webring.url + '/delete') Delete Webring
h2 Add this webring to your site
div.content-block
	p
		| Copy the following markup to your website so your visitors can navigate your webring.
		| Alternatively, get creative and design your own!
	p
		| In many cases, simply using the 
		i random site 
		| link will suffice!
	p
		| To get the HTML code for linking a particular site to the webring, use the 
		i Get Example Markup 
		| button below it in the list.
	textarea#example-code(rows=10)
		| <table>
		| 	<tr>
		| 		<td colspan="3">This site is a member of #{webring.name}.</td>
		| 	</tr>
		| 	<tr>
		| 		<td><a href="https://webri.ng/webring/#{webring.url}/random">Random Site</a></td>
		| 	</tr>
		| </table>


h2 Sites
div#webring-detail-sites.content-block
	if sites.length > 0
		ol#webring-detail-site-list
			each site, index in sites
				li(id='site_' + site.url)
					span.name #{site.name}
					a.url(href=site.url) #{site.url}
					div.site-controls
						button(onclick='getExampleMarkup(\'' + webring.name + '\',\'' + webring.url + '\',' + index + ')') Get Example Markup
						if isUserModerator
							button(onclick='removeSite(\'' + webring.url + '\',\'' + site.url + '\')') Remove
	else
		if isUserModerator
			| This webring does not have any sites yet. Feel free to add some!
		else
			| This webring does not have any sites yet.

	div#sites-error-message.error-message
include ../include/footer
