extends layout.pug

block title
	| webri.ng | Donate

block content
	h2 Donate
	div.content-block
		p
			| The webri.ng platform is a labour of love, 
			| and will always be provided free of charge. 
			| We will never ask for money to access this platform. 
			| However, if you'd like to financially support the platform, 
			| we'd be very grateful for any help.

		p
			| Any donations will be used to cover the costs of hosting and domain registration.

		p
			| We accept donations via Monero and Paypal.

		div.donation-option
			h3
				img.logo(
					src='/static/img/donation_options/xmr.svg',
					alt='Monero logo'
				)
				| Monero
			img(
				src='/static/img/donation_options/monero_qr_code.png', 
				alt='Monero QR code'
			)
			a(href='monero:8BTR7hZQawB3ZPVF5pfcpbdugbMSjZCksLotn6AR42mrh5e8gtc2chuXS1GArzUKXzBrYC3fzGXtGXzeisM7zxZYMY9xaxv')
				| [Click For Monero Address]

		div.donation-option
			h3
				img.logo(
					src='/static/img/donation_options/paypal.svg',
					alt='Paypal logo'
				)
				| Paypal
			a(href='https://paypal.me/ajxsme', target='_blank') 
				| https://paypal.me/ajxsme
